.task-active {
   position: relative;
   width: 100%;
   height: 48px;
   background: #ffffff;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
   border-radius: 4px;

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px;
      height: 100%;
    }

    &__checkbox {
      width: 16px;
      height: 16px;
      accent-color:#550DC9;
      background: #FFFFFF;
      border: 1px solid #ECECEC;
      border-radius: 4px;
    }

    &__buttons {
    
      & > button  {
        cursor: pointer;
        font: inherit;
        padding: 0px;
        border: none;
        background-color: inherit;
      }
    }

    &__iconEdit {
      width: 20px;
      height: 20px;
      color: #500DC9;
      margin-right: 8px;

       &:active {
         color: #b090ec;
       }
    }

    &__iconDelete {
      width: 20px;
      height: 20px;
      color: #FF6363;

       &:active {
         color: #ce9797;
       }
    }

    &__content {
      position: absolute;
      left: 43px;
      bottom: 15px;
    }

    &__total {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }
}
