.sidebar {
  position: fixed;
  height: 100%;
  overflow: auto;
  left: 0px;
  top: 64px;
  margin: 0;
  padding: 0;
  width: 52px;
  background-color: #550DC9;
}

.sidebar-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    background: #440BA0;
    margin-top: 24px;

  &__menu {
    width: 16px;
    height: 16px;
    color: #FFFFFF;
    margin-left: -4px;
  }
}